- name: install pip
  yum:
    name: python-pip
    state: latest
  tags: python27

- name: upgrade pip
  command: pip install --upgrade pip
  tags: python27

- name: install virtualenv
  pip:
    name: virtualenv
    state: latest
  tags: python27
