- name: Install git
  yum:
    name: git
    state: latest
  tags: git

- name: Coloring git command
  command: "{{ item }}"
  with_items:
    - git config --global color.ui auto
    - git config --global color.branch auto
    - git config --global color.status auto
    - git config --global color.diff auto
    - git config --global color.interactive auto
    - git config --global color.grep auto
    - git config --global color.pager true
    - git config --global color.decorate auto
    - git config --global color.showbranch auto
  tags: git
  becomes: false
